chatpagecomp .chatPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

chatpagecomp .chatContainer {
  background-color: white;
  height: 60%;
  width: 50%;
}

chatpagecomp .header {
  background-color: crimson;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

chatpagecomp .header > h2 {
  font-size: 1.5vmax;
  color: white;
  margin: 2.5vmax;
}

chatpagecomp .header img {
  margin: 2.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
chatpagecomp .header > img:hover {
  transform: scale(1.2);
}

chatpagecomp .chatBox {
  height: 70%;
  box-sizing: border-box;
}

chatpagecomp .inputBox {
  height: 15%;
  box-sizing: border-box;
  margin-top: 40%;
  display: flex;
}

chatpagecomp #chatInput {
  width: 80%;
  border: none;
  padding: 2vmax;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vmax;
  border-top: 0.2vmax solid rgba(41, 41, 41, 0.562);
}

chatpagecomp .sendBtn {
  background-color: crimson;
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
}

chatpagecomp.sendBtn > img {
  filter: brightness(100) invert();
  transition: all 0.3s;
}
chatpagecomp .sendBtn:hover {
  background-color: rgb(156, 13, 42);
}
chatpagecomp .sendBtn:hover img {
  transform: translateX(10px);
}
